.header {
    background-color: #1C3566;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #172B52;
    height: 69px;
  }
  
  .logo {
    color: white; 
    text-decoration: none;
    padding: 0 10px;
  }
  .logo-body{
    background-color: #4366AB;
    border-left: 2px solid #172B52;
    border-right: 2px solid #172B52;
    width: 282px;
    height: 69px;
    margin-left: 120px;
  }
  .nav-links,
  .user-panel {
    display: flex;
    align-items: center;
    border-left: 2px solid #172B52;
    border-right: 2px solid #172B52;
    padding: 0 10px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
  }
  
  .user-panel {
    color: white;
  }