.header {
  background-color: #1c3566;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #172b52;
  height: 69px;
}
.logo {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}
.logo-body {
  background-color: #4366ab;
  border-left: 2px solid #172b52;
  border-right: 2px solid #172b52;
  width: 282px;
  height: 69px;
  margin-left: 120px;
}
.nav-links,
.user-panel {
  display: flex;
  align-items: center;
  border-left: 2px solid #172b52;
  border-right: 2px solid #172b52;
  padding: 0 10px;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px;
}
.nav-links{
  margin-left: 50px;
}
.panel {
  padding-top: 15px;
}
.user-panel {
  color: #ffffff;
  margin-left: auto;
  margin-right: 120px;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #d9d9d9;
  margin-left: 5px;
}
.user-panel {
  display: flex;
  align-items: center;
  position: relative;
}
.width-panel {
  width: 282px;
  height: 933px;
  background-color: #d4e3ff;
  margin-top: 59px;
}
.user-panel .welcome-text::after {
  content: "";
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  margin-left: 5px;
}

.welcome-text {
  padding-right: 10px;
  border-right: 1px solid #172b52;
}
.search-input-header {
  width: 252px;
  height: 20px;
  background-color: #ffffff;
  margin-left: 15px;
  border: none;
}
.directory-button {
  margin-top: 15px;
  width: 262px;
  padding: 10px;
  background-color: #ffffff;
  color: #daad0f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin-left: 10px;
}
.search-box {
  position: relative;
  display: flex;
  align-items: center;
}
.search-icon {
  position: absolute;
  right: 10px; /* Отступ справа, чтобы иконка была внутри поля ввода */
  top: 50%; /* Для вертикального центрирования */
  transform: translateY(-50%); /* Для вертикального центрирования */
  cursor: pointer;
  padding-left: 7px;
}
.svg{
  margin-left: 5px;
  margin-right: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
}