@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&family=Seymour+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Mono+One&display=swap");
header {
  width: 100%;
  height: 105px;
  background: #0000007d;
  z-index: 100;
  position: relative;
}
.container {
  display: flex;
  width: 100%;
  z-index: 999;
}

.left-section,
.right-section {
  flex-basis: 50%;
  z-index: 100;
}
.container-big{
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #F47E48 0%, #FF8C0E 100%);
  z-index: 1;

}
.left-section {
  padding-top: 53px;
  padding-bottom: 75px;
}
.right-section {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
.main-text {
  width: 925px;
  height: 134px;
  font-family: "Seymour One", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 45.25px;
  text-align: left;
  color: #FFFFFF;
  padding-left: 161px;
  padding-bottom: 43px;
}
.img {
  width: 389px;
  height: 225px;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin-left: 30px;
}
.img-img {
  width: 373px;
  height: 212px;
  padding-top: 8px;
  padding-left: 8px;
  padding-bottom: 8px;
}
.circle-container::before {
  content: "";
  position: absolute;
  top: 605px;
  left: 212px;
  width: 376px;
  height: 387px;
  border-radius: 207px;
  z-index: 1;
  background-position: center;
  
}
.circle-container:nth-child(1)::before { width: 319px; height: 306px; opacity: 0.10; top: 398px; left: 50px;  background-image: url(https://s3-alpha-sig.figma.com/img/8329/3377/8cd5b42acb649f17ee628ea8fbacdcaa?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=mxnQsy3CcyxH25rYAsAMBmeE610P-DBMkmnzfsTkGxHQqfC-~inQzC2Dyfr5sxLq7oXZ8PC~qwowjjSFmQCsIKq6NNAPRbKIaQNeau2lr5iMfMm27N6tBwYzd4B0F20CTH7X-lEgCdwHTRjg8ZL2daMequ7aSMpkcc~P~nJb8sFSW-dohZyOQNiym0doizN-LXhQe1ZC9IJ4cu4YBcWxDnOgVXRJi~11ZqAqf7f9PRr0T4xUPbmR-g-Qz2xp8scI0IDBGKEPhsYlELyE4Hn5C36woLc83WJ-sZx4alnQy3Sk4lsLy92iHhJEhdCmUxvfBCYI8hu34lXAPwbSRngJCQ__);box-shadow: 0px 4px 4px 0px #00000040 inset; opacity: 0.10;
}
.circle-container:nth-child(2)::before { top: 57px; left: 348px; width: 373px;height: 373px;background: linear-gradient(180deg, #FFD260 0%, rgba(251, 135, 39, 0) 100%);}
.circle-container:nth-child(3)::before { top: 37%; left: 45%; width: 475px; height: 475px; background: linear-gradient(180deg, #F0A431 0%, rgba(217, 50, 50, 0.35) 100%);border-radius: 300px;}
.circle-container:nth-child(4)::before { bottom: 0; right: 0;   transform: rotate(16.73deg); background-image: url(https://s3-alpha-sig.figma.com/img/6b75/03fb/8cb1be583aee0dca99a08a8b572da8fc?Expires=1716768000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=UIjaz1g9lscPqEN9NuddyjWAsZrw~BKMbsfZ39QUxVXh0XvLhR8LkZ37j2diLTY0WzEYSTSaF8yAA8ODnUkyHu6dH6LeIZ6RmPQEeBw2~Z~wL3lmrC6faeANJTnNWoMhTu377Ty5OUF8vbbDieQbMaxE7NKFEZdSsSW77EwEu2hzjBB2t1M~Q54eLhFHLujqPCpqbXBtul25BL3vSWbtAKMcswc4tTjtO0xovQQ9-j7IsxB7O1vtYVi2nTzmPBuSsA00d0Ey9I5S~kqcsIHBjB7TXDzCoa1moCdIK4AHL3cAijx-0ZRBrYjZRt2Zx0FQOMuAKyXV0pYBTmHSz77y6w__);background-color: #FFD260 ; opacity: 0.15;
}
.circle-container:nth-child(5)::before { top: 21.5%; left: 40%; width: 185px; height: 185px;background: rgba(245, 178, 46, 0.46); }
.nav-link {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 32px;
  line-height: 56px;
  padding-right: 49px;
  color: #ffffff;
  text-decoration: none;
}
.nav-links-main {
  display: flex;
  text-align: center;
  align-items: center;
  border-left: none;
  border-right: none;
  margin-left: 15%;
  padding-top: 24px;
}
.about {
  width: 819px;
  height: 316px;
  top: -213px;
  left: -156px;
  border-radius: 43px;
  background: #d9d9d980;
  margin-bottom: 17px;
  margin-left: 138px;
}
.text-box-about {
  width: 766px;
  height: 278px;
  top: -191px;
  left: -112px;
  padding-top: 22px;
  padding-left: 44px;
}
.span-about {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  color: #050505;
}
.why {
  width: 819px;
  height: 156px;
  top: 120px;
  left: -156px;
  background: #d9d9d980;
  border-radius: 43px;
  margin-bottom: 17px;
  margin-left: 138px;
}
.text-box-why {
  width: 753px;
  height: 125px;
  padding-left: 50px;
  padding-top: 14px;
  border-radius: 43px;
}
.span-why {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #050505;
}
.what {
  width: 819px;
  height: 143px;
  top: 293px;
  left: -156px;
  border-radius: 43px;
  background: #d9d9d980;
  margin-left: 138px;
}
.text-box-what {
  width: 752px;
  height: 100px;
  top: 308px;
  left: -110px;
  padding-left: 46px;
  padding-top: 15px;
}
.span-what {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #050505;
}
.telephone-box {
  width: 438px;
  height: 330px;
  background: linear-gradient(180deg, #96cdff 0%, #379fff 100%);
  margin-top: 40px;
  margin-left: 25px;
}
.telephone-button {
  width: 219px;
  height: 62px;
  border-radius: 16px;
  background: #ff1111bd;
  margin-left: 110px;
  margin-top: 27px;
}
.telephone-name {
  color: #ffffff;
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-size: 24px;
  line-height: 42px;
}
.text-bot-wtf {
  width: 430px;
  height: 221px;
  margin-left: 32px;
}
.text-wtf {
  font-family: "Pacifico", cursive;
  font-size: 22px;
  font-weight: 400;
  line-height: 38.63px;
  text-align: left;
  color: #ffffff;
}
.text-box-telephone {
  width: 415px;
  height: 222px;
  padding-top: 6px;
  padding-left: 15px;
}
.span-box {
  font-family: "Pacifico", cursive;
  font-size: 15px;
  font-weight: 400;
  line-height: 26.34px;
  text-align: left;
  color: #000000;
}
.list-box {
  font-family: "Pacifico", cursive;
  font-size: 15px;
  font-weight: 400;
  line-height: 26.34px;
  text-align: left;
  color: #000000;
  list-style-type: disc;
}
