* {
  margin: 0;
  padding: 0;

}
.pib{
  text-transform: capitalize;
}
.card {
  display: flex;
  align-items: center; /* Выравнивание элементов по центру по вертикали */
  justify-content: space-between; /* Равномерное распределение элементов по горизонтали с пространством между ними */
}
.card span {
  margin-right: 10px; /* Добавляет пространство между элементами */
}